<label>Fullname
  {{input type=text value=fullName}}
</label>
<label>hourlyWage
  {{input type=text value=hourlyWage}}
</label>
<label>phoneNumber
  {{input type=text value=phoneNumber}}
</label>
<button {{action 'save' this}}>Save</button>
